/* New Trial Org style start here */
.slds-grid {
    flex-wrap:wrap;
}
.trial-wrap {
    height: calc(100vh - 10px);
    /* overflow: auto; */
    /* margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px; */
}
.trial-wrap .flow-body {
    height: calc(100vh - 101px);
    overflow: auto;
    margin-left: -20px;
    margin-right: -20px;
    padding: 0 20px;
    padding-top: 1px;
}
.trial-wrap .flow-body::-webkit-scrollbar {
    width: 5px;
}
.trial-wrap .flow-body::-webkit-scrollbar-track {
    background-color: transparent;
}
.trial-wrap .flow-body::-webkit-scrollbar-thumb {
    background-color: #ccd5e4;
    border-radius: 5px;
}
.trial-wrap .flow-body::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}
.trial-wrap .flow-body .flow-heading {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    color: #222;
    margin-bottom: 8px;
}
h2 {
    color: #222;
    font-size: 30px;
    font-weight: 600;
}
h2 .welcome-msg {
    display: inline-block;
    vertical-align: middle;
}
.head-part {
    margin-bottom: 25px;
    display: flex;
    align-content: flex-start;
    align-items: center;
    justify-content: space-between;
}
.head-part .days-left {
    margin-left: 8px;
    padding: 6px 8px;
    border-radius: 8px;
    border: solid 1px #289d1b;
    background-color: rgba(40, 157, 27, 0.1);
    font-size: 14px;
    font-weight: bold;
    color: #289d1b;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.head-part .view-more-btn {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    color: #007bff;
    border: solid 1px #007bff;
    padding: 7px 27px 6px 28px;
}
.info-text {
    font-size: 14px;
    color: #222;
    font-weight: 400;
}
.category-card {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #dde0e2;
    border-radius: 8px;
    position: relative;
    background: #fff;
    display: flex;
    height: 180px;
    align-items: center;
    margin-bottom: 16px;
    transition: all 0.2s;
    cursor: default;
}
.category-card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}
.category-card .icon-wrap {
    width: 35%;
    background: #e7effa;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
}
.category-card .icon-wrap img {
    transition: all 0.2s;
}
.category-card:hover .icon-wrap img {
    transform: scale(1.1);
}

.category-card.deactive .icon-wrap {
    background: #ebeeef;
}
.category-card .card-content-wrap {
    width: 65%;
    padding: 0 10px 0 20px;
}
.category-card .card-content-wrap .card-title {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #777;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.category-card .card-content-wrap .card-btn {
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    color: #000;
    display: block;
    margin-bottom: 10px;
    position: relative;
}
.category-card .card-content-wrap .card-btn:focus,
.category-card .card-content-wrap .card-btn:active,
.case-modal .modal-content .close-modal:focus,
.case-modal .modal-content .close-modal:active {
    box-shadow: none;
    outline: 0;
    border: 0;
}
.category-card .card-content-wrap .forword-icon {
    --lwc-colorTextIconDefault: #000;
    margin-left: 10px;
    transition: all 0.85s;
}
.category-card .card-content-wrap .card-btn:hover .forword-icon {
    --lwc-colorTextIconDefault: #007bff;
    transition: all 0.85s;
}
.category-card.deactive .card-content-wrap .card-btn:hover .forword-icon {
    --lwc-colorTextIconDefault: #777;
}
.category-card .card-content-wrap .card-btn::after {
    position: absolute;
    bottom: -5px;
    left: 0;
    content: "";
    width: 0%;
    height: 2px;
    background-color: #007bff;
    transition: all 0.5s;
}
.category-card.deactive .card-content-wrap .card-btn::after {
    background-color: #777;
}
.category-card:hover .card-content-wrap .card-btn::after {
    width: 88%;
}
.category-card .card-content-wrap .card-content {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: normal;
    color: #777;
    display: block;
}
/* Modal Style Start here */
.case-modal {
    z-index: 9001;
    max-width: 45rem;
}
.case-modal .slds-modal__content {
    border-radius: 4px;
    padding: 24px;
}
.case-modal .modal-content .modal-case-title {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #777;
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.case-modal .modal-content .modal-case-name {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #000;
    margin-bottom: 5px;
}
.case-modal .modal-content .modal-case-discription {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: normal;
    color: #777;
    display: block;
    margin-bottom: 15px;
}
.case-modal .modal-content .paid-text {
    color: #333;
    font-weight: 400;
    display: block;
    font-size: 14px;
    margin-bottom: 15px;
}
.case-modal .modal-content .try-now-btn {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 4px 39px;
}
.case-modal .body-content .digram-box {
    /*flex-basis: 59%;
    flex-grow: 0;
    flex-shrink: 0; */
    background: #f5f5f5;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    width: 59%;
    min-height: 300px;
    padding: 15px;
}
.case-modal .modal-content {
    display: inline-block;
    vertical-align: top;
    width: 41%;
    padding-left: 30px;
    position: relative;
}
.case-modal .modal-content .close-modal {
    position: absolute;
    top: -10px;
    right: -10px;
}
.case-modal .modal-content .upgrade-btn a {
    color: #fff;
    background: #1479f6;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 4px;
    margin-top: 5px;
}
.case-modal .modal-content .upgrade-btn a:hover {
    text-decoration: none;
    background: #014486;
}
.case-modal .modal-content .book-demo-btn a {
    width: 166px;
    text-align: center;
    color: #1479f6;
    background: transparent;
    text-decoration: underline;
}
.case-modal .modal-content .book-demo-btn a:hover {
    background-color: transparent;
    text-decoration: underline;
}
/* Modal Style End here */