.card-wrap {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}
.card-flow {
    box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    border-radius: 4px;
    display: inline-block;
    text-align: left;
    border-top: 4px solid #007bff;
    width: 420px;
}
.card-body {
    padding: 30px 30px 30px 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 200px;
}
.card-body .post-icon {
    margin-right: 10px;
    --lwc-colorTextIconDefault: #007bff;
    flex: 1;
}
.card-body h4 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    line-height: normal;
    margin-bottom: 10px;
}
.card-body p {
    font-size: 14px;
    font-weight: normal;
    color: #333;
    line-height: 1.5;
}
.card-footer {
    padding: 13px;
    background-color: #f5f5f5;
    text-align: right;
    border-top: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}